<%= form_for @profile do |f| %>

    <div class="field">
      <%= label_tag :sufix %> <br />     <%# f.text_field:text means object f takes data from form.But here f. is not used Because here we are using different form.And for that we are using Text_field_tag.%>
      <%= text_field_tag :sufix %>       <%# we have only one database coloum field-name, but we want to put our data as suffix,first name and last name.So we create a hash of name in model where we put suffix, first name and last name value.%>

    </div>
    <div class="field">
      <%= label_tag :first_name %> <br />
      <%= text_field_tag :first_name %>

    </div>
    <div class="field">
      <%= label_tag :last_name %> <br />
      <%= text_field_tag :last_name %>

    </div>


    <div class="field">
      <%#<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
      <%= f.file_field :avatar %>
      <%#<% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

 <% end %>