
  <div class="">
      <table class="front" summary="For Signed in Users" >
          <tr>
            <td class = "main" >
              <h1 class = "micropost" >Top News?</h1>
              <%#<%= render 'shared/micropost_form' %>
              <%# <%= render 'helper/comments_helper' %>
              <%#<%= render "comments/form" %>
              <%#<%= render 'shared/feed' %>

            </td>
            <td class="sidebar round">
              <%= t('en.hello')%>
             <%# <%= render 'shared/user_info' %>
              <%#<%= render 'shared/stats' %>
              <%#<%= image_tag @current_user.avatars.url %>
            </td>
          </tr>
        </table>

  </div>
